@define-color white #acb0d0;
@define-color black #1a1b26;
@define-color red #f7768e;

* {
  font-family: "Maple Mono";
  font-size: 12;
  min-height: 12px;
  min-width: 0px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
}

window#waybar {
  transition-property: white;
  transition-duration: 0.5s;
  border-bottom: 2px solid @black;
  background: @white;
  color: @black;
}

menu,
tooltip {
  border-radius: 8px;
  padding: 2px;
  border: 1px solid @red;
  background: @white;
}

menu label,
tooltip label {
  font-size: 14px;
  color: @black;
}

.modules-right,
.modules-left {
  margin: 6px 10px 6px 10px;
}

#custom-icon,
#clock,
#network,
#pulseaudio,
#temperature,
#cpu,
#memory,
#disk,
#battery,
#custom-power {
  margin-left: 8px;
  margin-right: 8px;
}

#custom-icon {
  font-size: 15px;
}

#workspaces {
  margin-left: 8px;
  margin-right: 8px;
}

#workspaces button {
  padding-left: 8px;
  padding-right: 8px;
  color: @black;
}

#workspaces button:hover {
  background: @tron;
  color: @white;
}

#workspaces button.active,
#workspaces button.focused {
  color: @red;
}
